@import '_mixin';

main {
  .bannerContainer {
    width: 100%;
    height: 11rem;
    margin: 0 !important;
    padding: 0 !important;
    background: url(../img/wabi_mb.png) no-repeat;
    background-size: contain;

    @media (min-width: $mediumDivice) {
      background: url(../img/wabi.png) no-repeat;
      background-size: contain;
    }
  }
}
